---
# tasks file for defilan-osconfig

- name: Set config variable
  ansible.builtin.set_fact:
    config: "{{ config | default(lookup('env', 'CONFIG')) | default('lightweight') }}"

# OS-specific tasks
- name: Include macOS tasks
  ansible.builtin.import_tasks: darwin.yml
  when: ansible_os_family == 'Darwin'

- name: Include Debian tasks
  ansible.builtin.import_tasks: debian.yml
  when: ansible_os_family == 'Debian'

# Common tasks
- name: Create directories
  ansible.builtin.file:
    path: "{{ item | expanduser }}"
    state: directory
    mode: "0755"
  loop: "{{ defilan_directories }}"
  tags:
    - directories

- name: Install oh-my-zsh
  ansible.builtin.git:
    repo: "https://github.com/ohmyzsh/ohmyzsh.git"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh"
    update: true
    version: master
  register: ohmyzsh_git_result
  changed_when: "ohmyzsh_git_result.after|default('after') != ohmyzsh_git_result.before|default('before')"
  tags:
    - zsh
    - shell

- name: Configuring oh-my-zsh
  ansible.builtin.template:
    src: ".zshrc.j2"
    dest: "{{ ansible_env.HOME }}/.zshrc"
    backup: true
    mode: "0644"
  tags:
    - zsh
    - shell

- name: Install ZSH Autosuggestion
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions.git"
    dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    version: master
  tags:
    - zsh
    - shell
